<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="UserName" value="" />
        
        <!-- The synchronization strategy that should be used when hosting
        sessions -->
        <add key="SynchronizationStrategyClass" value="Lebowski.Synchronization.DifferentialSynchronization.DifferentialSynchronizationStrategy" />
     </appSettings>
</configuration>
